@import '~/styles/vars';

.title {
  text-transform: capitalize !important;
  width: max-content;
  display: flex;
  align-items: center;
  min-height: max-content;

  &:after {
    content: '';
    transition: all 0.3s;
    border: solid $purple;
    border-width: 0 2px 2px 0;
    float: right;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
