@import '~/styles/vars';

.dayPicker {
  width: max-content;
  padding: 2rem;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: $light-purple-7;
  color: white;
}

.day_selected {
  background-color: $purple;
  color: white;

  &.day_disabled {
    color: $gray;
  }
}

.day_disabled {
  color: red;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: $light-purple-7;
}

.dayPickerSelected {
  background-color: $purple;
  &:hover {
    background-color: $purple;
  }
}

.dayPickerDay {
  &:hover {
    background-color: $light-purple-7;
  }
}
