@use '~/styles/vars';

.container {
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: var(--purple);
  color: var(--white);
  display: inline-block;
  min-width: max-content;

  &.white {
    background-color: var(--white) !important;
    color: var(--purple) !important;
  }
}
