@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?lz5vme');
  src: url('fonts/icomoon.eot?lz5vme#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lz5vme') format('truetype'),
    url('fonts/icomoon.woff?lz5vme') format('woff'),
    url('fonts/icomoon.svg?lz5vme#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu1:before {
  content: '\e90d';
}
.icon-directions_car:before {
  content: '\e903';
}
.icon-tv:before {
  content: '\e904';
}
.icon-security:before {
  content: '\e905';
}
.icon-pool1:before {
  content: '\e906';
}
.icon-local_laundry_service:before {
  content: '\e907';
}
.icon-kitchen:before {
  content: '\e908';
}
.icon-pool:before {
  content: '\e909';
}
.icon-tree:before {
  content: '\e90b';
}
.icon-thermometer:before {
  content: '\e90c';
}
.icon-bed:before {
  content: '\e90a';
}
.icon-shower:before {
  content: '\e900';
}
.icon-bath:before {
  content: '\e901';
}
.icon-bathtub:before {
  content: '\e901';
}
.icon-s15:before {
  content: '\e901';
}
.icon-binoculars:before {
  content: '\e902';
}
.icon-camera:before {
  content: '\e90f';
}
.icon-music:before {
  content: '\e911';
}
.icon-connection:before {
  content: '\e91b';
}
.icon-phone:before {
  content: '\e942';
}
.icon-display:before {
  content: '\e956';
}
.icon-bug:before {
  content: '\e999';
}
.icon-spoon-knife:before {
  content: '\e9a3';
}
.icon-leaf:before {
  content: '\e9a4';
}
.icon-menu:before {
  content: '\e9bd';
}
.icon-star-full:before {
  content: '\e9d9';
}
.icon-man-woman:before {
  content: '\e9de';
}
