@import '~/styles/vars';
.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
  height: max-content;
  gap: 1rem;
  padding-bottom: 1rem;

  .heading {
    &:after {
      display: block;
      content: '';
      border-bottom: 1px solid $purple;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &.active:after {
      transform: scaleX(1);
    }
  }
}

.container {
  position: relative;
  height: 200px;

  .content {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    max-height: 0px;
    opacity: 0;
    transition: max-height 0.2s ease-in-out 0.1s;

    &.active {
      max-height: 200px;
      overflow: hidden;
      opacity: 1;
    }

    .description {
      text-justify: auto;
    }

    .amenities {
      columns: 2;
    }
  }
}
