@import '~/styles/vars';

.wrapper {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: $default-wrapper-padding;
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(min(350px, 85vw));
  gap: 0.5rem;
}

.label {
  font-size: 0.85rem;
}

.input {
  width: 100%;
  border: none;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0rem 0.75rem;
  font-size: 1rem;
  box-shadow: $light-purple-5 0px 1px 2px, $light-purple-5 0px 0px 0px 2px;

  &:focus-visible {
    outline: none;
  }
}

.error {
  border: none;
  box-shadow: rgba($red, 0.5) 0px 1px 4px, rgba($red, 0.5) 0px 0px 0px 3px;
}

.phoneInputContainer {
  @extend .input;

  input {
    font-size: 1rem;
  }
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
}
