@import '~/styles/vars';

.nav {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  align-items: center;
  background: $purple;
  width: 100%;
  position: relative;
  min-height: 200px;
  flex-wrap: wrap;
  height: auto;
}

.logo {
  object-fit: contain;
  flex: 1;
  order: 1;
}

.container {
  display: flex;
  justify-content: flex-end;
  flex: 2;
  gap: 1rem;
  font-size: 1.25rem;
  order: 2;
}

.expander {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  order: 4;
  min-height: 2rem;

  .expanderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 0px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    gap: 0.5rem;
    margin: 1rem;

    &.open {
      transition: max-height 0.5s ease-in;
      max-height: 500px;
    }
  }

  .expanderIcon {
    color: $white;
  }
}

.link {
  color: $white;
  width: max-content;
  text-align: center;

  &:after {
    display: block;
    content: '';
    border-bottom: 1px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  order: 3;
}
