@import '~/styles/vars';

.wrapper {
  position: absolute;
  height: calc(min(350px, 100vw));
  width: calc(min(350px, 100vw));
  z-index: 2;
  cursor: pointer;

  &:hover .dayPickerRoot {
    transform: scaleY(1);
  }
  .dayPickerRoot {
    padding: 1rem;
    background-color: $gray;
    transform: scaleY(0);
    transition: all 0.15s ease-in-out;
    transform-origin: top;
  }

  .dayPickerDisabled {
    color: $light-purple-5 !important;
  }

  .dayPickerSelected {
    background-color: $purple !important;
    color: white;

    &:hover {
      background-color: $light-purple-5 !important;
    }
  }

  .dayPickerButton {
    &:hover {
      background-color: $light-purple-5;
    }
  }
}
