@import '~/styles/vars';

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.leftContainer {
  flex: 1 1 35%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-height: calc(100vh - 200px);
  min-width: calc(min(100vw, 350px));
}

.rightContainer {
  flex: 1 1 65%;
}
